// Percents

$margin-p: 5;
$margin-x-p: 5;
$margin-y-p: 5;
$margin-top-p: 5;
$margin-bottom-p: 5;
$margin-left-p: 5;
$margin-right-p: 5;

// Generators

@mixin margin {
  @for $i from 0 to 20 {
    .ml-#{$i} {
      margin-left: #{-$i}px !important;
    }
  }
  @for $i from 0 to 70 {
    .m#{$i} {
      margin: #{$i}px !important;
    }
  }
  @each $i in $margin-p {
    .m#{$i}p {
      margin: percentage($i/100) !important;
    }
  }
  @for $i from 0 to 70 {
    .mx#{$i} {
      margin-left: #{$i}px !important;
      margin-right: #{$i}px !important;
    }
  }
  @each $i in $margin-x-p {
    .mx#{$i}p {
      margin-left: percentage($i/100) !important;
      margin-right: percentage($i/100) !important;
    }
  }
  @for $i from 0 to 150 {
    .my#{$i} {
      margin-top: #{$i}px !important;
      margin-bottom: #{$i}px !important;
    }
  }
  @each $i in $margin-y-p {
    .my#{$i}p {
      margin-top: percentage($i/100) !important;
      margin-bottom: percentage($i/100) !important;
    }
  }
  @for $i from 0 to 150 {
    .mt#{$i} {
      margin-top: #{$i}px !important;
    }
  }
  @each $i in $margin-top-p {
    .mt#{$i}p {
      margin-top: percentage($i/100) !important;
    }
  }
  @for $i from 0 to 210 {
    .mb#{$i} {
      margin-bottom: #{$i}px !important;
    }
  }
  @each $i in $margin-bottom-p {
    .mb#{$i}p {
      margin-bottom: percentage($i/100) !important;
    }
  }
  @for $i from 0 to 70 {
    .ml#{$i} {
      margin-left: #{$i}px !important;
    }
  }
  @each $i in $margin-left-p {
    .ml#{$i}p {
      margin-left: percentage($i/100) !important;
    }
  }
  @for $i from 0 to 70 {
    .mr#{$i} {
      margin-right: #{$i}px !important;
    }
  }
  @each $i in $margin-right-p {
    .mr#{$i}p {
      margin-right: percentage($i/100) !important;
    }
  }
}

@include margin;
