<div class="container p0">
    <div class="row vertical-center mx0 justify-center">
        <div class="menus-dropup col-md-12 p0">
            <ul id="dropup" style="display:none">
                <li><a href="#" class="href">Главная</a></li>
                <li><a href="#" class="href">Навыки</a></li>
                <li><a href="#" class="href">Портфолио</a></li>
                <li><a href="#" class="href">Контакты</a></li>
            </ul>
            <div class="button" onClick="down()">
                <span class="fa fa-bars"></span>
            </div>
        </div>
        <div class="image-wrap col-xl-3 col-lg-3 col-md-12 px0">
            <img class="logo pt15" src="images/logo.png" alt="kostousovds">
        </div>
        <div class="gap col-xl-3 col-lg-2"></div>
        <div class="menus col-xl-6 col-lg-7 col-md-12 col-10">
            <div class="menu">
                <div class="cart mr4 p16">
                    <a href="#" class="href">
                        <i class="fa fa-home"></i>
                        <span>Главная</span>
                    </a>
                </div>
                <div class="cart mr4 p16">
                    <a href="#" class="href">
                        <i class="fa fa-wrench"></i>
                        <span>Навыки</span>
                    </a>
                </div>
                <div class="cart mr4 p16">
                    <a href="#" class="href">
                        <i class="fa fa-server"></i>
                        <span>Портфолио</span>
                    </a>
                </div>
                <div class="cart p16">
                    <a href="#" class="href">
                        <i class="fa fa-tty"></i>
                        <span>Контакты</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
