<div class="container p0">
    <div class="row">
        <div class="hex-skills col-xl-3 col-lg-3 col-md-3 col-6 p0">
            <a href="#" class="hexagon hexagon2 gallery-item">
                <span class="hexagon-in1">
                    <span class="hexagon-in2" style="background-image: url(../images/skills/1.png)"></span>
                </span>
            </a>
        </div>
        <div class="text col-xl-3 col-lg-3 col-md-3 col-6 p0">
            <h2>HTML5</h2>
            <p>язык для структурирования и представления содержимого на web страницах</p>
        </div>
        <div class="hex-skills col-xl-3 col-lg-3 col-md-3 col-6 p0">
            <a href="#" class="hexagon hexagon2 gallery-item">
                <span class="hexagon-in1">
                    <span class="hexagon-in2" style="background-image: url(../images/skills/2.png)"></span>
                </span>
            </a>
        </div>
        <div class="text col-xl-3 col-lg-3 col-md-3 col-6 p0">
            <h2>CSS3</h2>
            <p>язык описания внешнего вида документа, написанного с использованием языка разметки</p>
        </div>
    </div>
</div>

<div class="container p0">
    <div class="row">
        <div class="hex-skills col-xl-3 col-lg-3 col-md-3 col-6 p0">
            <a href="#" class="hexagon hexagon2 gallery-item">
                <span class="hexagon-in1">
                    <span class="hexagon-in2" style="background-image: url(../images/skills/3.png)"></span>
                </span>
            </a>
        </div>
        <div class="text col-xl-3 col-lg-3 col-md-3 col-6 p0">
            <h2>Bootstrap</h2>
            <p>HTML, CSS, и JS фреймворк для разработки адаптивных и мобильных веб-проектов</p>
        </div>
        <div class="hex-skills col-xl-3 col-lg-3 col-md-3 col-6 p0">
            <a href="#" class="hexagon hexagon2 gallery-item">
                <span class="hexagon-in1">
                    <span class="hexagon-in2" style="background-image: url(../images/skills/4.png)"></span>
                </span>
            </a>
        </div>
        <div class="text col-xl-3 col-lg-3 col-md-3 col-6 p0">
            <h2>NPM</h2>
            <p>менеджер пакетов, который управляет модулями и зависимостями проекта</p>
        </div>
    </div>
</div>


<div class="container p0">
    <div class="row">
        <div class="hex-skills col-xl-3 col-lg-3 col-md-3 col-6 p0">
            <a href="#" class="hexagon hexagon2 gallery-item">
                <span class="hexagon-in1">
                    <span class="hexagon-in2" style="background-image: url(../images/skills/5.png)"></span>
                </span>
            </a>
        </div>
        <div class="text col-xl-3 col-lg-3 col-md-3 col-6 p0">
            <h2>SASS</h2>
            <p>метаязык для работы с CSS</p>
        </div>
        <div class="hex-skills col-xl-3 col-lg-3 col-md-3 col-6 p0">
            <a href="#" class="hexagon hexagon2 gallery-item">
                <span class="hexagon-in1">
                    <span class="hexagon-in2" style="background-image: url(../images/skills/6.png)"></span>
                </span>
            </a>
        </div>
        <div class="text col-xl-3 col-lg-3 col-md-3 col-6 p0">
            <h2>Font Awesome</h2>
            <p>библиотека иконочных шрифтов</p>
        </div>
    </div>
</div>

<div class="container p0">
    <div class="row">
        <div class="hex-skills col-xl-3 col-lg-3 col-md-3 col-6 p0">
            <a href="#" class="hexagon hexagon2 gallery-item">
                <span class="hexagon-in1">
                    <span class="hexagon-in2" style="background-image: url(../images/skills/7.png)"></span>
                </span>
            </a>
        </div>
        <div class="text col-xl-3 col-lg-3 col-md-3 col-6 p0">
            <h2>PhpStorm</h2>
            <p>среда разработки с интеллектуальным редактором</p>
        </div>
        <div class="hex-skills col-xl-3 col-lg-3 col-md-3 col-6 p0">
            <a href="#" class="hexagon hexagon2 gallery-item">
                <span class="hexagon-in1">
                    <span class="hexagon-in2" style="background-image: url(../images/skills/8.png)"></span>
                </span>
            </a>
        </div>
        <div class="text col-xl-3 col-lg-3 col-md-3 col-6 p0">
            <h2>Emmet</h2>
            <p>инструмент быстрого набора текста для CSS и HTML</p>
        </div>
    </div>
</div>


<div class="container p0">
    <div class="row">
        <div class="hex-skills col-xl-3 col-lg-3 col-md-3 col-6 p0">
            <a href="#" class="hexagon hexagon2 gallery-item">
                <span class="hexagon-in1">
                    <span class="hexagon-in2" style="background-image: url(../images/skills/9.png)"></span>
                </span>
            </a>
        </div>
        <div class="text col-xl-3 col-lg-3 col-md-3 col-6 p0">
            <h2>GitHub</h2>
            <p>веб-сервис для хостинга IT-проектов и их совместной разработки</p>
        </div>
        <div class="hex-skills col-xl-3 col-lg-3 col-md-3 col-6 p0">
            <a href="#" class="hexagon hexagon2 gallery-item">
                <span class="hexagon-in1">
                    <span class="hexagon-in2" style="background-image: url(../images/skills/10.png)"></span>
                </span>
            </a>
        </div>
        <div class="text col-xl-3 col-lg-3 col-md-3 col-6 p0">
            <h2>Photoshop</h2>
            <p>многофункциональный редактор для работы с графикой</p>
        </div>
    </div>
</div>
<div class="container p0">
    <div class="row">
        <div class="hex-skills col-xl-3 col-lg-3 col-md-3 col-6 p0">
            <a href="#" class="hexagon hexagon2 gallery-item">
                <span class="hexagon-in1">
                    <span class="hexagon-in2" style="background-image: url(../images/skills/11.png)"></span>
                </span>
            </a>
        </div>
        <div class="text col-xl-3 col-lg-3 col-md-3 col-6 p0">
            <h2>Flexbox</h2>
            <p>модуль CSS3 для гибкой разметки веб-сайтов</p>
        </div>
<!--        <div class="hex-skills col-xl-3 col-lg-3 col-md-3 col-6 p0">-->
<!--            <a href="#" class="hexagon hexagon2 gallery-item">-->
<!--                <span class="hexagon-in1">-->
<!--                    <span class="hexagon-in2" style="background-image: url(../images/skills/10.png)"></span>-->
<!--                </span>-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="text col-xl-3 col-lg-3 col-md-3 col-6 p0">-->
<!--            <h2></h2>-->
<!--            <p>123</p>-->
<!--        </div>-->
    </div>
</div>

