<div class="container p0">
    <div class="row line1 justify-center">
        <div class="hex col-xl-2 col-lg-2 col-md-2 col-6 img-first p0">
            <a href="#" class="hexagon hexagon2 gallery-item img-left">
                <span class="hexagon-in1">
                    <span class="hexagon-in2" style="background-image: url(../images/1.jpg)"></span>
                </span>
            </a>
        </div>
        <div class="hex col-xl-2 col-lg-2 col-md-2 col-6 img-first p0">
            <a href="#" class="hexagon hexagon2 gallery-item img-right">
                <span class="hexagon-in1">
                    <span class="hexagon-in2" style="background-image: url(../images/2.jpg)"></span>
                </span>
            </a>
        </div>
        <div class="hex col-xl-2 col-lg-2 col-md-2 col-12 p0">
            <a href="#" class="hexagon hexagon2 gallery-item">
                <span class="hexagon-in1">
                    <span class="hexagon-in2" style="background-image: url(../images/3.jpg)"></span>
                </span>
            </a>
        </div>
        <div class="hex col-xl-2 col-lg-2 col-md-2 col-6 p0">
            <a href="#" class="hexagon hexagon2 gallery-item img-left">
                <span class="hexagon-in1">
                    <span class="hexagon-in2" style="background-image: url(../images/4.jpg)"></span>
                </span>
            </a>
        </div>
        <div class="hex col-xl-2 col-lg-2 col-md-2 col-6 p0">
            <a href="#" class="hexagon hexagon2 gallery-item img-right">
                <span class="hexagon-in1">
                    <span class="hexagon-in2" style="background-image: url(../images/5.jpg)"></span>
                </span>
            </a>
        </div>
    </div>
</div>


<div class="container p0">
    <div class="row line2 justify-center">
        <div class="hex col-xl-2 col-lg-2 col-md-2 col-12 p0">
            <a href="#" class="hexagon hexagon2 gallery-item">
                <span class="hexagon-in1">
                    <span class="hexagon-in2" style="background-image: url(../images/6.jpg)"></span>
                </span>
            </a>
        </div>
        <div class="hex col-xl-2 col-lg-2 col-md-2 col-6 p0">
            <a href="#" class="hexagon hexagon2 gallery-item img-left">
                <span class="hexagon-in1">
                    <span class="hexagon-in2" style="background-image: url(../images/7.jpg)"></span>
                </span>
            </a>
        </div>
        <div class="hex col-xl-2 col-lg-2 col-md-2 col-6 p0">
            <a href="#" class="hexagon hexagon2 gallery-item img-right">
                <span class="hexagon-in1">
                    <span class="hexagon-in2" style="background-image: url(../images/8.jpg)"></span>
                </span>
            </a>
        </div>
        <div class="hex col-xl-2 col-lg-2 col-md-2 col-12 p0">
            <a href="#" class="hexagon hexagon2 gallery-item">
                <span class="hexagon-in1">
                    <span class="hexagon-in2" style="background-image: url(../images/9.jpg)"></span>
                </span>
            </a>
        </div>
    </div>
</div>

<div class="container p0">
    <div class="row line2 justify-center">
        <div class="hex col-xl-2 col-lg-2 col-md-2 col-6 p0">
            <a href="#" class="hexagon hexagon2 gallery-item img-left">
                <span class="hexagon-in1">
                    <span class="hexagon-in2" style="background-image: url(../images/10.jpg)"></span>
                </span>
            </a>
        </div>
        <div class="hex col-xl-2 col-lg-2 col-md-2 col-6 p0">
            <a href="#" class="hexagon hexagon2 gallery-item img-right">
                <span class="hexagon-in1">
                    <span class="hexagon-in2" style="background-image: url(../images/11.jpg)"></span>
                </span>
            </a>
        </div>
        <div class="hex col-xl-2 col-lg-2 col-md-2 col-12 p0">
            <a href="#" class="hexagon hexagon2 gallery-item">
                <span class="hexagon-in1">
                    <span class="hexagon-in2" style="background-image: url(../images/12.jpg)"></span>
                </span>
            </a>
        </div>
    </div>
</div>