<div class="container contacts">
    <div class="row justify-center">
        <div class="maps justify-content-center col-lg-4 col-12">
            <div class="map1">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae8ca83267fce5928d848b77bff993927e0dd1f617c31082477e20b7f8d4657e8&amp;source=constructor"
                        width="320" height="400" frameborder="0"></iframe><!--            <div class="hexagen-maps">-->
            </div>
            <div class="map2">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae8ca83267fce5928d848b77bff993927e0dd1f617c31082477e20b7f8d4657e8&amp;source=constructor"
                        width="690" height="400" frameborder="0"></iframe><!--            <div class="hexagen-maps">-->
            </div>
            <div class="map3">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae8ca83267fce5928d848b77bff993927e0dd1f617c31082477e20b7f8d4657e8&amp;source=constructor"
                        width="510" height="400" frameborder="0"></iframe><!--            <div class="hexagen-maps">-->
            </div>
        </div>
        <div class="address col-lg-4 col-12">
            <span>Контактная информация</span><br/>
            <p>Наш офис находится в десяти минуах ходьбы от станции метро "Новые Черемушки"</p>

            <ul class="p0 mt20">
                <li class="address-left fa fa-map-marker"></li>
                <li class="address-right">Москва</li>
            </ul>
            <ul class="p0">
                <li class="address-left fa fa-phone"></li>
                <li class="address-right">+7-926-282-32-72</li>
            </ul>
            <ul class="p0">
                <li class="address-left fa fa-envelope"></li>
                <li class="address-right">kostousovds@gmail.com</li>
            </ul>
        </div>
        <div class="forms col-lg-4 col-12">
            <div class="form">
                <input name="fullname" type="text" class="form-control" id="fullname" placeholder="Ваше Имя"
                       maxlength="40">
            </div>
            <div class="form">
                <input name="email" type="text" class="form-control" id="email" placeholder="Ваш Email" maxlength="40">
            </div>
            <div class="form">
                <textarea name="message" rows="10" class="form-control" id="message"
                          placeholder="Введите сообщение"></textarea>
            </div>
            <div class="form">
                <button type="button" class="btn">Отправить сообщение</button>
            </div>
        </div>
    </div>
</div>