<div class="container">
    <div class="row content">

        <div class="hex" style="background-image: url(../images/1.jpg);">
            <a href="#"></a>
            <div class="corner-1"></div>
            <div class="corner-2"></div>
        </div>

<!--        <div class="hex" style="background-image: url(../images/2.jpg);">-->
<!--            <a href="#"></a>-->
<!--            <div class="corner-1"></div>-->
<!--            <div class="corner-2"></div>-->
<!--        </div>-->

<!--        <div class="hex" style="background-image: url(../images/3.jpg);">-->
<!--            <a href="#"></a>-->
<!--            <div class="corner-1"></div>-->
<!--            <div class="corner-2"></div>-->
<!--        </div>-->
    </div>

</div>

<ul id="hexGrid">
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">
                <img src="../images/1.jpg" alt="" />
                <h2>Заголовок</h2>
                <p>Краткий текст</p>
            </a>
        </div>
    </li>
    <!-- ... -->
    <li class="hex">
        <div class="hexIn">
            <a class="hexLink" href="#">
                <img src="../images/2.jpg" alt="" />
                <h2>Заголовок</h2>
                <p>Краткий текст</p>
            </a>
        </div>
    </li>
</ul>