<footer>
    <div class="container footers">
        <div class="row vertical-center justify-center">
            <div class="col-lg-9 col-md-8 col-sm-12">
                <span>Copyright © 2019 Company Name | Design: KDS</span>
            </div>
            <div class="hex_footers col-lg-3 col-md-4 col-sm-12">
                <div class="hex_footer">
                    <a href="https://www.facebook.com/kostousovds" target="_blank">
                        <span class="fa fa-facebook"></span>
                    </a>
                </div>
                <div class="hex_footer">
                    <a href="https://www.instagram.com/demid_kostousov/" target="_blank">
                        <span class="fa fa-instagram"></span>
                    </a>
                </div>
                <div class="hex_footer">
                    <a href="#">
                        <span class="fa fa-linkedin"></span>
                    </a>
                </div>
                <div class="hex_footer">
                    <a href="#">
                        <span class="fa fa-rss"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>